*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width:100%;
    height: 100%;
    scrollbar-width: none;
}
.wrapper{
    width:100%;
    position: relative;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.portfolio{
    min-height: 200vh;
    width: 100%;
    background-color: beige;
    display: flex;
    flex-direction: column;
}
nav{
    position: fixed;
    height: 8vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
    font-size: 20px;
    background-color: beige;
}
.l{
    display: flex;
    gap: 50px;
}
.hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 8%;
    gap:60px;
    margin-bottom: 8%;
}
.hero h1{
    font-size: 150px;
}
.hero p{
    font-size: 30px;
    letter-spacing: 2px;
}
.social{
    display: flex;
    gap:20px;
    
}
.social button{
    background-color: beige;
    border:2px solid black;
    border-radius: 20px;
    padding: 3%;
    width: 9vh;
    height: 3vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main{
    width: 100%;
    height: 55vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:20px;
    color: black;
    background-color: beige;
}
.main h1{
    font-size: 150px;
}
.main p{
    font-size: 30px;
}
.main button{
    display: flex;
    background-color: beige;
    border:2px solid black;
    border-radius: 30px;
    padding: 1%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    gap: 10px;
    font-size: 18px;
}
.main button i{
    font-size: 20px;
}
.cont{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap:30px;
    background-color: black;
    color: beige;
    padding: 5%;
}
.cont h1{
    font-size: 150px;
}
.cont p{
    font-size: 35px;
}
.icon{
    display: flex;
    gap:20px;
    align-items: center;
    justify-content: center;
    font-size: 24px;
}
.skills{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.line{
    display: flex;
    border-bottom: 2px solid beige;
    justify-content: space-between;
    padding-top: 5px;
}
.skills p{
    font-size: 20px;
    padding-bottom: 5px;
    padding-top: 5px;
}
.footer{
    width: 100%;
    height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap:20px;
    color: beige;
    background-color: black;
    padding: 5%;
}
.footer h1{
    font-size: 100px;
    letter-spacing: 3px;
}
.bottom{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.social1{
    display: flex;
    gap:20px;
    
}
.social1 button{
    background-color: black;
    border:3px solid beige;
    color: beige;
    border-radius: 20px;
    padding: 3%;
    width: 9vh;
    height: 3vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.social2{
    display: flex;
    gap: 30px;
    font-size: 20px;
}